<body id="body-index-editor" class="body-editor">

	<div class="container-fluid" id="main-editor">

		<%= form_for(@text) do |f| %>
			<%= f.label :title %>
			<%= f.text_field :title %>

			<%= f.label :content %>
			<%= f.bootsy_area :content %>

			<%= f.submit %>
		<% end %>
	</div>
</body>
