
<%= javascript_include_tag "editor" %>

<body id="body-index-editor" class="body-editor">

	<% @text.each do |entry| %>
		<%= form_tag({:action => "select"},
		 	:multipart => true, :class => "form-group") do %>

			<%= content_tag :div, :class=>"form-group" do %>
				<%= entry.content_text %>
				<!-- <%= entry.visibility %> -->
				<%= label_tag(entry.sequence, "visible:") %>
				<%= check_box_tag('visibility', entry.sequence, entry.visibility) %>
				<%= link_to 'Edit', edit_path(id: entry.sequence, work: @work.id),
					{:remote => true,
						'data-toggle' =>  "modal",
						'data-target' => '#modal-window',
						'class' => 'btn btn-primary'}  %>
			<% end %>
		<% end %>

	<% end %>

	<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalWindow" aria-hidden="true">
	</div>
</body>
